.keyboard {
    outline-color: darkmagenta;
    display: flex;
    flex-direction: column;
    height: 10%;
    margin: 3%;
}
.keyboard > div {
    outline-color: red;
    display: flex;
    flex-direction: row;
}
.keyboard > div > button {
    outline-color: red;
    flex-grow: 1;
    margin: 0.3em;
    padding: 0.5em 0;
}
