.questions {
    margin: 1em 2%;
    font-family: "Computer Modern Serif", serif;
    font-size: 1.4em;
    padding: 1%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;


}
.qnum {
    display: flex;
    background-color: #d1d2d4;
    text-align: center;


}
.qnum > div {
    text-align: center;
    background-color: #221f20;
    color: #ffffff;
    padding: 0.1em 1.1em;
}

.qtext {
    padding: 1% 0.5% 1% 2.5em;

}
